.foreground-alpha,
body,
a
{
  color: #444;
}

.background-alpha,
header,
.page__menu__wrapper,
.page__menu__wrapper > ul,
.page__menu__wrapper li,
.page__menu__wrapper ul.sub-menu,
footer
{
  background-color: #444;
}

.foreground-beta,
header,
header a,
.page__menu__wrapper a
{
  color: #f1f1f1;
}

.background-beta,
body,
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before
{
  background-color: #f1f1f1;
}

.border-bottom-beta,
.page__menu__wrapper a
{
  border-bottom: 1px solid #f1f1f1;
}
