[class*="container"] {
  margin: 0 auto;
}

.container--maxwidth {
  max-width: 1280px;
}

.container--padded {
  padding: 0 1rem;
}

.container--padded .breakout {
  margin: 0 -1rem;
}

/* Component Media Box */
.media-box {}

.media-box__media {}

.media-box__media--numbered {}

.media-box__content {}
/* Component Media Box END */

/* Colored Box */
.box-colored {
  margin-bottom: 1rem;
  padding: .5rem 1rem 2rem 1rem;
}

.box-colored--yellow {
  background: #f49e31;
  color: #fff;
}

.box-colored--yellow-bordered {
  border: 1px solid #f49e31;
  color: #f49e31;
}

.box-colored--brown {
  background: #4a280d;
  color: #fff;
}

.box-colored--brown-bordered {
  border: 1px solid #4a280d;
}
/* Colored Box END */