[class*="container"] {
  margin: 0 auto;
}

.container--maxwidth {
  max-width: 1280px;
}

@media screen and (max-width: 1320px) {
  .container--maxwidth {
    padding: 0 .5rem;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid--spaced [class^="grid__cell"] {
  margin: .5rem;
}

.grid--spaced [class^="grid__cell"]:first-child {
  margin-left: 0;
}

.grid--spaced [class^="grid__cell"]:last-child {
  margin-right: 0;
}

[class^="grid__cell"] {
  flex: 1;
}

[class^="grid__cell"][class*="--size"] {
  flex: none;
}

[class$="--size-one-fifth"] {
  width: 20%;
}

[class$="--size-one-quarter"] {
  width: 25%;
}

[class$="--size-one-third"] {
  width: 33.333%;
}

[class$="--size-two-fifths"] {
  width: 40%;
}

[class$="--size-half"] {
  width: 50%;
}

[class$="--size-three-fifths"] {
  width: 60%;
}

[class$="--size-two-thirds"] {
  width: 66.666%;
}

[class$="--size-four-fifths"] {
  width: 80%;
}

[class$="--size-three-quarter"] {
  width: 75%;
}






































/*DEV*/
.grid {
  /*DEV*/
  background: #f2f2f2;
  border: 1px solid #696969;
  margin-bottom: 10px;
  padding: 5px;
  /*DEV*/
}

.grid__cell {
  /*DEV*/
  background: #ccc;
  border: 1px solid #696969;
  min-height: 30px;
  padding: 5px;
  /*DEV*/
}
/*DEV*/